/* Heading */

.header {
  background: linear-gradient(to bottom right, #36D1DC, #5B86E5);
  text-align: center;
  padding: 40px 0 40px 0;
}

.header h1 {
  padding: 50px 0 50px 0;
}

/* NavBar */
.navbar {
  background-color: #000;
  opacity: 20%;
}

.links {
  color: white;
}











.clients {
  text-align: center;
  margin: 40px;
  border: solid;
  background-color: green;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.booking-history {
  text-align: center;
  margin: 40px;
}

